ul {
  list-style: none;
}

.row {
  padding: 1em;
}

#display {
  text-align: center;
  background-color: yellow;
  border: black 1px solid;
  border-radius: 6px;
}

.alert {
  display: none;
}

.registrType {
  width: 50%;
}