ul {
  list-style: none;
}

.error {
  text-align: center;
  color: red;
  -moz-text-size-adjust: initial;
  text-justify: auto;
}

.row {
  padding: 1em;
}

.display {
  text-align: center;
  background-color: yellow;
  border: black 1px solid;
  border-radius: 6px;
  display: inline-block;
}

.alert {
  display: none;
}

.registrType {
  width: 50%;
}