.container {
  margin-left: 20%;
  margin-right: 20px;
  padding: 10px;
}

.error {
  text-align: center;
  color: red;
  text-justify: auto;
}

.row {
  padding: 1em;
}

.display {
  text-align: center;
  background-color: yellow;
  border: black 1px solid;
  border-radius: 5px;
  width: 30px;
  height: 20px;
}

.registrType {
  width: 50%;
}